[submodule "assurance"]
	path = assurance
	url = ../niayan-assurance
[submodule "pkgcore"]
	path = pkgcore
	url = ../niayan-pkgcore
[submodule "statecore"]
	path = statecore
	url = ../niayan-statecore
[submodule "controlcore"]
	path = controlcore
	url = ../niayan-controlcore
[submodule "configcore"]
	path = configcore
	url = ../niayan-configcore
[submodule "resolvercore"]
	path = resolvercore
	url = ../niayan-resolvercore
[submodule "capsulecore"]
	path = capsulecore
	url = ../niayan-capsulecore
[submodule "distribution"]
	path = distribution
	url = ../niayan-distribution
